<!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6">
            <div class="footer-info">
              <img src="assets/img/picksc-logo-enhance.png" width="150px">
              <h5 style="color:white;">Particle-in-Cell and Kinetic Simulation Software Center</h5>
              <p>
                475 Portola Plaza, Los Angeles, CA 90095-1547<br><br>
                <strong>Phone:</strong> 310-206-0372<br>
                <strong>Email:</strong> mori@physics.ucla.edu<br>
              </p>
              <!--div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>-->
            </div>
          </div>

          <!--<div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.pa.ucla.edu/">UCLA Physics & Astronomy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.ucla.edu/">UCLA Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Division of Physical Sciences">Division of Physical Sciences</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://covid-19.ucla.edu/">UCLA COVID-19 Resources</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://www.ucla.edu/maps-directions-parking/">Maps, directions, parking</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Software</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Item One</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Item Two</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Item Three</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Item Four</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Item Five</a></li>
            </ul>
          </div>-->

          <div class="col-lg-6 col-md-6">
            <div class="footer-info">
              <h4>Sponsors</h4>
              <p>Funded by &nbsp;
              <img src="assets/img/nsf-transp.png" width="75px"</p>
              <p>Some activities supported by <br /> <img src="assets/img/scidac-transp.png" width="300px"
              
            </div>
          </div>

        </div>
      </div>
    </div>
	<hr>
    <div class="container">
      <div class="copyright">
      	<p style="color:#FFFFFF";>&copy; Copyright 2023 <strong><span>PICKSC</span></strong>. Designed by https://bootstrapmade.com/</p>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/sailor-free-bootstrap-theme/ -->
        
      </div>
    </div>
  </footer><!-- End Footer -->
